*{
    margin: 0;
}
body{
    background-color: #F6E7D8;
    font-family: 'Montserrat', sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #C65D7B;
    box-shadow: #874356 4px 4px 0 0;
}
.header h4{
  color: #EDE6DB;
  filter: drop-shadow(4px 4px 0px #874356)
}
.headerTitle{
    color: #EDE6DB;
    font-weight: 700;
    font-size: 30px;

    filter: drop-shadow(4px 4px 0px #874356);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add{
    display: inline-block;  
    line-height: 50px;  
    border: 2px solid #874356;
    box-shadow: #874356 4px 4px 0 0;
    color: #F6E7D8;
    text-align: center;
    touch-action: manipulation;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    margin:20px;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: #C65D7B;
}
#add:hover {
  background-color: #F6E7D8;
  color: #874356;
}
#add:active {
  box-shadow: #874356 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.deleteIcon{
  padding:20px;
  padding-bottom: 0;
  padding-right: 0;
  grid-column: 3/4;
  align-self: center;
  justify-self: end;
}
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:focus {
  outline: 0;
}

.toggle {
  height: 32px;
  width: 52px;
  grid-column: 3/4;
  justify-self: end;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #F6E7D8;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: #5e2e3b;
  background: #F68989;
}
.toggle:checked:after {
  transform: translatex(20px);
}
.bookContainer{
    margin: 10px;
    border-radius: 20px;
    padding: 30px;
    background-color: #C65D7B;
    height: auto;
    width: 40%;
    max-width: 400px;
    display:grid;
    grid-template-columns: 4fr 1fr 2fr;
    grid-template-rows: auto;
    box-shadow: #874356 8px 10px 0 0;    
}
.pages{
  padding-top: 20px;
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: end;
}
.bookAuthor{
  font-size: 14px;
  font-weight: 500;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
}
.bookName{
  font-size: 18px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.bookAuthor,
.bookName{
  color: #EDE6DB;
}
.readText{
  font-size: 12px;
  grid-row: 4/5;
  grid-column: 3/4;
  align-self:end ;
  justify-self: end;
  color: #EDE6DB;
}
.pages{
  color: #5e2e3b;
}

.formPopup {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, 0);
  border: 3px solid #999999;
  border-radius: 40px;
}
.formContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 40px;
  background-color: #fff;
}
.formContainer input[type=number],
.formContainer input[type=text]{
  width: 60%;
  padding: 15px;
  border-radius: 20px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type=number]:focus,
.formContainer input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 40%;
  margin-bottom: 15px;
  opacity: 0.8;
  font-size: medium;
  font-weight: 700;
  border-radius: 20px;
}
.formContainer .cancel {
  margin-top: 0;
  background-color: #d24040;
  border-radius: 20px;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}